
.product-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    max-width: 1000px;
    margin: 90px auto;
    padding: 20px;
    color: #333;
    background-color: #e1e1e1;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);


}
/* .product-details img {
    object-fit: cover;
}
.product-details .image-small {
    width: 80px;
    height: 80px;
} */
.product-details img {
    object-fit: contain;
    flex-shrink: 0;
}


.product-details img:not(.image-small){
    width:380px;
    max-width:100%;
    height: auto;
}


.image-small{
    width:80px;
    height:80px;
    object-fit:cover;
}
.product-infos {
    flex: 1;
    max-width: 600px;
}
.product-infos h1{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000b5;
}
.product-infos .price {
    font-size: 28px;
    color:#9e0000;
    font-weight: bold;
    margin-bottom: 15px;
}
.product-infos .description{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.size-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.size-options button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
}
.size-options button:hover {
    border-color: #333;
    background-color: #ddd;
}

.add-to-cart {
    padding: 15px 20px;
    background-color: #5e0000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
}

.add-to-cart:hover {
    background-color: #3b0000;
    transform: scale(1.1);
}
.product-infos .note {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    line-height: 1.4;
}

@media (max-width: 1024px) {
    .product-infos {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product-infos h1 {
        font-size: 21px;
    }
    .product-infos .price {
        font-size: 24px;
    }
    .product-infos .description {
        font-size: 14px;
    }
    .add-to-cart {
        width: 100%;
    }
    .size-options button {
        font-size: 12px;
        padding: 8px 10px;
    }



    
}

@media (max-width: 480px) {
    .product-details img {
        width: 100%;
        margin-bottom: 20px;  
    }
    .product-infos .note {
        font-size: 12px;
    }

} 







